@import "tailwindcss";

@font-face {
  font-family: "Gambarino";
  src: url("./assets/Gambarino.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-Inter: "Inter", sans-serif;
  --font-gambarino: "Gambarino", serif;
}

.font-gambarino {
  font-family: "Gambarino", serif;
}

.noise-bg {
  background-image: url("/bg.jpg");
  background-size: cover;
  background-position: center;
}

.noise-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #0000002e;
  opacity: 0.1;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
}
